<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Welcome to KIPP, <%= @teacher.name %></h1>
    <%= render partial: "teachers/main_content", locals: {role: @role, teacher: @teacher} %>
  </body>
</html>
