<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Welcome to KIPP, <%= @teacher.name %></h1>
    <%= render partial: "credentials/local_notification" %>
    <p>
      Here are the credentials you requested.
    </p>
    <table class="table table-bordered">
		<thead>
		  <tr>
		    <td>Credential Name</td>
		    <td>Web Link</td>
		    <td>Notes</td>
	    </tr>
	  </thead>
	  <tbody>
		<% @role.credentials.each do |c| %>
			<tr> 
			  	<%= render partial: "credentials/credential", locals: {credential: c} %>
		  	</tr>
		<% end %>
	  </tbody>
	</table>
	 Thanks
  </body>
</html>
