/* line 1, /Users/philbrockman/Google Drive/School/Job-related things/summer 2016/Kipp/railtest/Blog/app/assets/stylesheets/scaffolds.scss */
body {
  background-color: #fff;
  color: #333;
  font-family: verdana, arial, helvetica, sans-serif;
  font-size: 13px;
  line-height: 18px;
}

/* line 9, /Users/philbrockman/Google Drive/School/Job-related things/summer 2016/Kipp/railtest/Blog/app/assets/stylesheets/scaffolds.scss */
p, ol, ul, td {
  font-family: verdana, arial, helvetica, sans-serif;
  font-size: 13px;
  line-height: 18px;
}

/* line 15, /Users/philbrockman/Google Drive/School/Job-related things/summer 2016/Kipp/railtest/Blog/app/assets/stylesheets/scaffolds.scss */
pre {
  background-color: #eee;
  padding: 10px;
  font-size: 11px;
}

/* line 21, /Users/philbrockman/Google Drive/School/Job-related things/summer 2016/Kipp/railtest/Blog/app/assets/stylesheets/scaffolds.scss */
a {
  color: #000;
}
/* line 24, /Users/philbrockman/Google Drive/School/Job-related things/summer 2016/Kipp/railtest/Blog/app/assets/stylesheets/scaffolds.scss */
a:visited {
  color: #666;
}
/* line 28, /Users/philbrockman/Google Drive/School/Job-related things/summer 2016/Kipp/railtest/Blog/app/assets/stylesheets/scaffolds.scss */
a:hover {
  color: #fff;
  background-color: #000;
}

/* line 35, /Users/philbrockman/Google Drive/School/Job-related things/summer 2016/Kipp/railtest/Blog/app/assets/stylesheets/scaffolds.scss */
div.field, div.actions {
  margin-bottom: 10px;
}
/* line 38, /Users/philbrockman/Google Drive/School/Job-related things/summer 2016/Kipp/railtest/Blog/app/assets/stylesheets/scaffolds.scss */
div#container {
  border: 3px solid black;
  margin: auto;
  width: 800px;
  padding: 5px;
}

/* line 47, /Users/philbrockman/Google Drive/School/Job-related things/summer 2016/Kipp/railtest/Blog/app/assets/stylesheets/scaffolds.scss */
img#main_title {
  width: 750px;
  margin: auto;
}

/* line 53, /Users/philbrockman/Google Drive/School/Job-related things/summer 2016/Kipp/railtest/Blog/app/assets/stylesheets/scaffolds.scss */
#alert {
  color: red;
}

/* line 56, /Users/philbrockman/Google Drive/School/Job-related things/summer 2016/Kipp/railtest/Blog/app/assets/stylesheets/scaffolds.scss */
#notice {
  color: green;
}

/* line 60, /Users/philbrockman/Google Drive/School/Job-related things/summer 2016/Kipp/railtest/Blog/app/assets/stylesheets/scaffolds.scss */
.field_with_errors {
  padding: 2px;
  background-color: red;
  display: table;
}

/* line 66, /Users/philbrockman/Google Drive/School/Job-related things/summer 2016/Kipp/railtest/Blog/app/assets/stylesheets/scaffolds.scss */
#error_explanation {
  width: 450px;
  border: 2px solid red;
  padding: 7px;
  padding-bottom: 0;
  margin-bottom: 20px;
  background-color: #f0f0f0;
}
/* line 74, /Users/philbrockman/Google Drive/School/Job-related things/summer 2016/Kipp/railtest/Blog/app/assets/stylesheets/scaffolds.scss */
#error_explanation h2 {
  text-align: left;
  font-weight: bold;
  padding: 5px 5px 5px 15px;
  font-size: 12px;
  margin: -7px;
  margin-bottom: 0px;
  background-color: #c00;
  color: #fff;
}
/* line 85, /Users/philbrockman/Google Drive/School/Job-related things/summer 2016/Kipp/railtest/Blog/app/assets/stylesheets/scaffolds.scss */
#error_explanation ul li {
  font-size: 12px;
  list-style: square;
}
@-webkit-viewport{width:device-width;zoom:1.0}@-moz-viewport{width:device-width;zoom:1.0}@-ms-viewport{width:device-width;zoom:1.0}@-o-viewport{width:device-width;zoom:1.0}@viewport{width:device-width;zoom:1.0}html{overflow-y:auto}img,audio,video,canvas{max-width:100%}.container{max-width:40em;width:88%;margin-left:auto;margin-right:auto}table{max-width:100%;border-collapse:collapse;border-spacing:0}.table{width:100%;margin-bottom:1.52941em}.table th,.table td{padding:0.47059em;text-align:left;border-top:0.07143em solid #b8b8b8}.table th{font-weight:bold;vertical-align:bottom}.table td{vertical-align:top}.table thead:first-child tr th,.table thead:first-child tr td{border-top:0}.table tbody+tbody{border-top:0.14286em solid #b8b8b8}.table-condensed th,.table-condensed td{padding:0.29412em}.table-bordered{border:0.07143em solid #b8b8b8;border-collapse:separate;*border-collapse:collapsed;border-radius:0.47059em}.table-bordered th+th,.table-bordered td+td,.table-bordered th+td,.table-bordered td+th{border-left:0.07143em solid #b8b8b8}.table-bordered thead:first-child tr:first-child th,.table-bordered tbody:first-child tr:first-child th,.table-bordered tbody:first-child tr:first-child td{border-top:0}.table-bordered thead:first-child tr:first-child th:first-child,.table-bordered tbody:first-child tr:first-child td:first-child{border-radius:0.47059em 0 0 0}.table-bordered thead:first-child tr:first-child th:last-child,.table-bordered tbody:first-child tr:first-child td:last-child{border-radius:0 0.47059em 0 0}.table-bordered thead:last-child tr:last-child th:first-child,.table-bordered tbody:last-child tr:last-child td:first-child{border-radius:0 0 0 0.47059em}.table-bordered thead:last-child tr:last-child th:last-child,.table-bordered tbody:last-child tr:last-child td:last-child{border-radius:0 0 0.47059em 0}
/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *


 */


*= require jquery-ui/datepicker
