/* line 1, /Users/philbrockman/Google Drive/School/Job-related things/summer 2016/Kipp/railtest/Blog/app/assets/stylesheets/scaffolds.scss */
body {
  background-color: #F4EFEB;
  color: #333;
  font-family: "FullerSansDT-Regular",Calibri,Helvetica,sans-serif;
  font-size: 15px;
  line-height: 18px;
}

/* line 9, /Users/philbrockman/Google Drive/School/Job-related things/summer 2016/Kipp/railtest/Blog/app/assets/stylesheets/scaffolds.scss */
pre {
  background-color: #eee;
  padding: 10px;
  font-size: 11px;
}

/* line 15, /Users/philbrockman/Google Drive/School/Job-related things/summer 2016/Kipp/railtest/Blog/app/assets/stylesheets/scaffolds.scss */
a {
  color: #60A2D7;
  text-decoration: none;
}
/* line 19, /Users/philbrockman/Google Drive/School/Job-related things/summer 2016/Kipp/railtest/Blog/app/assets/stylesheets/scaffolds.scss */
a:hover {
  text-decoration: none;
  color: #4082B7;
}

/* line 25, /Users/philbrockman/Google Drive/School/Job-related things/summer 2016/Kipp/railtest/Blog/app/assets/stylesheets/scaffolds.scss */
p.centered {
  text-align: center;
}

/* line 29, /Users/philbrockman/Google Drive/School/Job-related things/summer 2016/Kipp/railtest/Blog/app/assets/stylesheets/scaffolds.scss */
div.pagination {
  display: inline;
}

/* line 34, /Users/philbrockman/Google Drive/School/Job-related things/summer 2016/Kipp/railtest/Blog/app/assets/stylesheets/scaffolds.scss */
.ss ul br {
  display: none;
}
/* line 37, /Users/philbrockman/Google Drive/School/Job-related things/summer 2016/Kipp/railtest/Blog/app/assets/stylesheets/scaffolds.scss */
.ss ol br {
  display: none;
}

/* line 42, /Users/philbrockman/Google Drive/School/Job-related things/summer 2016/Kipp/railtest/Blog/app/assets/stylesheets/scaffolds.scss */
fdiv {
  display: block;
  padding: 7px;
}
/* line 46, /Users/philbrockman/Google Drive/School/Job-related things/summer 2016/Kipp/railtest/Blog/app/assets/stylesheets/scaffolds.scss */
fdiv.field, fdiv.actions {
  margin-bottom: 10px;
}
/* line 49, /Users/philbrockman/Google Drive/School/Job-related things/summer 2016/Kipp/railtest/Blog/app/assets/stylesheets/scaffolds.scss */
fdiv#container {
  margin: auto;
  width: 800px;
}
/* line 53, /Users/philbrockman/Google Drive/School/Job-related things/summer 2016/Kipp/railtest/Blog/app/assets/stylesheets/scaffolds.scss */
fdiv#header {
  background-color: #A7CFEE;
  vertical-align: top;
  font-size: 120%;
}
/* line 58, /Users/philbrockman/Google Drive/School/Job-related things/summer 2016/Kipp/railtest/Blog/app/assets/stylesheets/scaffolds.scss */
fdiv#content {
  font-size: 80%;
  background-color: #FFFFFF;
}

/* line 65, /Users/philbrockman/Google Drive/School/Job-related things/summer 2016/Kipp/railtest/Blog/app/assets/stylesheets/scaffolds.scss */
img#main_title {
  width: 100%;
  margin: auto;
}

/* line 71, /Users/philbrockman/Google Drive/School/Job-related things/summer 2016/Kipp/railtest/Blog/app/assets/stylesheets/scaffolds.scss */
#alert {
  color: red;
}

/* line 75, /Users/philbrockman/Google Drive/School/Job-related things/summer 2016/Kipp/railtest/Blog/app/assets/stylesheets/scaffolds.scss */
#notice {
  color: green;
}

/* line 79, /Users/philbrockman/Google Drive/School/Job-related things/summer 2016/Kipp/railtest/Blog/app/assets/stylesheets/scaffolds.scss */
.field_with_errors {
  padding: 2px;
  background-color: red;
  display: inline;
}

/* line 85, /Users/philbrockman/Google Drive/School/Job-related things/summer 2016/Kipp/railtest/Blog/app/assets/stylesheets/scaffolds.scss */
#error_explanation {
  width: 450px;
  border: 2px solid red;
  padding: 7px;
  padding-bottom: 0;
  margin-bottom: 20px;
  background-color: #f0f0f0;
}
/* line 93, /Users/philbrockman/Google Drive/School/Job-related things/summer 2016/Kipp/railtest/Blog/app/assets/stylesheets/scaffolds.scss */
#error_explanation h2 {
  text-align: left;
  font-weight: bold;
  padding: 5px 5px 5px 15px;
  font-size: 12px;
  margin: -7px;
  margin-bottom: 0px;
  background-color: #c00;
  color: #fff;
}
/* line 104, /Users/philbrockman/Google Drive/School/Job-related things/summer 2016/Kipp/railtest/Blog/app/assets/stylesheets/scaffolds.scss */
#error_explanation ul li {
  font-size: 12px;
  list-style: square;
}
