<h3>Teaching SpEd in PA</h3>
<p>
It looks like you will be teaching in the grades range
  <% if ["early", "middle"].include?(@teacher.grade_level) %>
    preK-8
  <% else %>
    8-12
  <% end %> for special education.  In addition to needing this special education certificate, you will <u>also</u> need a content certificate.
</p>