<h2>Overview</h2>
As a <b><%= @role.name %></b>, you will need to obtain Pennsylvania certification and pass the required Pennsylvania exams.
<ul>
	<li><b><u>Note</u></b>: If you will be in a learning support or special education role, please go back and select a role from the dropdown menu that contains your subject area and the words learning support</li>
</ul>
<p>For further details on how to complete these steps, scroll down.  You will have the option to learn more about the Praxis exam and have certification information emailed directly to you.</p>

<%= render partial: "credentials/tims" %>
<%= render partial: "credentials/local_notification" %>
<h2>Credentials</h2>
<%= render partial: "credentials/credential_table", locals: {credentials: @role.credentials, active: @id_list} %>