<%= render partial: "special_education" if @teacher.special_education %>

<% if @teacher.certificate_location.upcase == "PA" %>

a
<% end %>

For your role (<%= @role.name %>), you need the following <%= pluralize @role.credentials.length, "certificate" %>:
<ul>
  <% @role.credentials.each do |c| %>
    <li><%= c.name %></li>
  <% end %>
</ul>