<% if credentials.count <= 0 %>
	No credentials found
<% else %>
  <h2><%= title %></h2>
	<table class="table table-bordered">
		<thead>
		  <tr>
		    <td><%= table_header %></td>
		    <td>Web Link</td>
		    <td>Notes</td>
	    </tr>
	  </thead>
	  <tbody>
		<% credentials.each do |c| %>
			<tr> 
			  	<%= render partial: "credentials/credential", locals: {credential: c} %>
		  	</tr>
		<% end %>
	  </tbody>
	</table>
<% end %>