<h2>Praxis Exam</h2>
<p>Taking the Praxis exam is the first step in the certification process. To learn more about how to take the PA Praxis exam, click <%= link_to "here", "https://www.ets.org/praxis/pa/requirements" %>.</p> 