<p>Many teachers have found it useful to have information about their certifcation emailed to them.  If you would like to have relevant certifcation emailed to you, please:</p>
<ul>
	<li>Enter your name and email in the corresponding boxes below.</li>
	<li>Click the button to recieve this important information.</li>
</ul>