<h2>TIMS</h2>
After obtaining Pennsylvania certifications, you should register with the Pennsylvania's Department of Education Teacher Managment Information System (TIMS). You can find detailed instructions for registration with TIMS <%= link_to "here", "http://www.education.pa.gov/Documents/Teachers-Administrators/Certifications/TIMS/Getting%20Started%20with%20TIMS.pdf" %>.  