<h2>Steps</h2>
<ol>
	<li>Create a profile on the Pennsylvania's Department of Education (PDE) Teacher Management Information System (TIMS). You can find detailed instructions for registration with TIMS <%= link_to "here", "http://www.education.pa.gov/Documents/Teachers-Administrators/Certifications/TIMS/Getting%20Started%20with%20TIMS.pdf" %>. <b>Write down a copy of your PPID for reference</b>.</li>
	<li>Take, pass, and submit copies of required Praxis/PECT scores to the PDE.</li>
	<li>Submit credential applications  from the list below. </li>
</ol>