
<%= link_to "New Credential", new_credential_path %>
<br />
<br />

<% exams = []
   creds = [] %>
<h2>Exams</h2>
<%= render partial: "credentials/credential_table", locals: {credentials: @exams, table_header: "Exams", edit: true} %>

<h2>Credentials</h2>
<%= render partial: "credentials/credential_table", locals: {credentials: @creds, table_header: "Credentials", edit: true} %>
